p{
	font-family: Arial;
}
h1{
	font-family: Arial;
	
}
h2{
	font-family: Arial;
}
h3{
	font-family: Arial;
}

body{
	font-family: Arial;
}

blockquote{
	font-family: Arial;
}

li{
	font-family: Arial;
}

span{
	font-family: Arial;
}

.main, .refcontent, .tocview, .tocsub, .sroman, i {
	font-family: Arial;
}

.TacticSectionName{
	font-family: Arial;
	background-color: #BCDEA0;
	border: 2px solid black;
	border-radius: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.PhaseName{
	font-family: Arial;
	background-color: #585AFC;
	border: 2px solid black;
	border-radius: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
}