p{
	font-family: Arial;
}
h1{
	font-family: Arial;
	
}
h2{
	font-family: Arial;
}
h3{
	font-family: Arial;
}

body{
	font-family: Arial;
}

blockquote{
	font-family: Arial;
	font-size: 95%;
}

li{
	font-family: Arial;
}

span{
	font-family: Arial;
}

.main, .refcontent, .tocview, .tocsub, .sroman, i {
	font-family: Arial;
}

.TacticSectionName{
	font-family: Arial;
	font-size: 95%;
	background-color: #BCDEA0;
	border: 2px solid black;
	border-radius: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.PhaseName{
	font-family: Arial;
	font-size: 95%;
	background-color: #585AFC;
	border: 2px solid black;
	border-radius: 8px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.TacticKey{
	float: right;
	width: auto;
	background-color: #DCDCDC;
	border: 2px solid black;
	border-radius: 8px;
	padding: 4px;
}

.Pict{
	display: inline-block;
	width: auto;
	background-color: #F0F0F0;
	border: 1px solid black;
	border-radius: 8px;
	padding: 6px;
}

.ImageBorder{
	vertical-align: middle;
	margin: 2px;
	background-color: white;
	border: 1px solid black;
    border-radius: 8px;
	padding: 6px;
}

.LogoStyle{
	display: inline-block;
	width: 400px;
	height: auto;
}